<!-- dialog-box.component.html -->
<div >
  <form (ngSubmit)="class.form.valid && doAction()" #class="ngForm">
    <div class="d-flex flex-column align-content-around"  >
      <div class="form-row">
        <div>
          <mat-form-field class="mx-5" >
            <input name="title"  placeholder="Title" matInput [(ngModel)]="local_data.title" #title="ngModel" required>
          </mat-form-field>
          <div *ngIf="class.submitted && title.invalid" class="d-block invalid-feedback text-center">
            <div *ngIf="title.errors.required">Title is required</div>
          </div>
        </div>
        <div>
          <mat-form-field class="mx-5" >
            <input name="description" placeholder="Description" matInput [(ngModel)]="local_data.description" #description = "ngModel" required>
          </mat-form-field>
          <div *ngIf="class.submitted && description.invalid" class="d-block invalid-feedback text-center">
            <div *ngIf="description.errors.required">Description is required</div>
          </div>
        </div>
      </div>

    </div>
    <div mat-dialog-actions class="d-flex justify-content-around">
      <button mat-button (click)="closeDialog()" mat-flat-button color="primary">Cancel</button>
      <button mat-button type="submit" mat-raised-button color="warn">Add</button>
    </div>
  </form>
</div>

